body {
  background-color: whitesmoke;
}

.card {
  width:100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
  background-color: #eeeeee;
  padding: 4px;
  margin: 8px;
  border-radius: 16px;
}
  
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 30vh;
  width: 80%;
  margin: 2em 1em;
  column-gap: 1em;
}

.btn {
  margin: 4px 2px;
  padding: 4px 16px;
  width: 100%;
}



.bank{
  grid-area: 1 / 1 / 2 / 2;
}

.work{
  grid-area: 1 / 2 / 2 / 3;
}

.store{
  grid-area: 1 / 3 / 2 / 4;
}

.bot{
  grid-area: 2 / 1 / 3 / 4;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item{
  display: block;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
  float: left;
}
.right {
  text-align: right;
  float: right;
}

.left, .right{
  display: inline-block;
  clear: none;
  width: 50%;
  white-space: nowrap;
}

.even{
  justify-content: space-evenly;
}

h3{
  font-weight: 700;
}
h2{
  font-weight: 600;
}